body{
    background-color: red;
}
#navbar{
    height: 120px;
}
ul{
    display: flex;
    flex-direction: row;
margin: 5px 5px;
padding: 1px;
list-style-type:none ;
}
li a{
    padding: 1px;
        text-decoration: none;
        color: white;
        border-radius: 3px;
        padding: 2px 2px;
        transition: 1s;
}
.logo img{
    display: block;
    width: 60px;
    height: 60px;
    margin: 1px auto;
    filter: invert();

}
/*#navbar{
display: flex;
position: relative;
font-family: 'Baloo Bhai 2', cursive;
height: var(--navbar-height);
align-items: center;

}
#navbar::before{
    content: "";
background: black;
position: absolute;
height: 100%;
width: 100%;
z-index: -1;
opacity: 0.8;
}
.logo img{
    height: var(--navbar-height);
    filter: invert();

}

ul{
    display: flex;
    flex-direction: row;
margin: 15px 21px;
padding: 1  px;
list-style-type:none ;
}

li a{
padding: 16px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: 34px 27px;
    transition: 1s;
    
}
li a:hover{
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: whitesmoke;